* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.wraper {
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    .left,
    .right {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 999;
        opacity: 0.5;
        &.active {
            opacity: 1!important;
        }
    }
    .left {
        left: 200px;
    }
    .right {
        right: 200px;
    }
    .pic {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 1000px;
            display: none;
            &.active {
                display: block;
            }
        }
    }
    .list {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 25px;
        left: 200px;
        li {
            width: 25px;
            height: 25px;
            background: #ccc;
            margin-left: 10px;
            color: #666;
            text-align: center;
            line-height: 25px;
            font-size: 18px;
            cursor: pointer;
            &.active {
                background: #fff!important;
                color: #000!important;
            }
        }
    }
}